.signup{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: 2px solid black;
    outline: none;
    padding: 5px 8px;
    margin-bottom: 8px;;
}

button{
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

span{
    text-decoration: underline;
}